
.jumbotron{
    margin-top: 2rem;
}

h1{
    padding-bottom: 1rem;
}
#movie-form{
    padding: 2rem 0;
}

.movie-button {
    color: #dfd9d9;
    margin: .25rem .5rem;
    padding: .75rem;
    border-radius: 15px;
}

#add-gif {
    margin: 2rem 0;
}

button:hover {
    opacity: .7;
}


.gif-images {
    
    float: left;
    padding: 0 1rem;
}

.gif {
    
    height: 150px;
    width: 200px;
}