
body, html {
    height: 100%;
}
#place-image{
    
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-position: center;
    padding-top: 3rem;
}

h1{
    padding-bottom: 1rem;
}
#movie-form{
    padding: 2rem 0;
}

.movie-button {
    color: #dfd9d9;
    margin: .25rem .5rem;
    padding: .75rem;
    border-radius: 15px;
}

#add-gif {
    margin: 2rem 0;
}

button:hover {
    opacity: .7;
}
#gif-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.gif-images {
    padding: 0 1rem;
}

.gif { 
    height: 150px;
    width: 200px;
    
}